version: "3.4"
services:
#    app:
#        env_file:
#          - "./.env"
#        volumes:
#            - "./:/app"
#        working_dir: /app
#        command: "php artisan serve --host=0.0.0.0 --port=8000"
#        ports:
#            - 8000:8000
#        build:
#            context: docker/php
#            dockerfile: dev.Dockerfile
    db:
        env_file: .env
        image: mariadb
        ports:
            - 3306:3306
        volumes:
            - "db-data:/var/lib/mysql/data"
volumes:
    db-data: {}
